.container-fluid{ :style => 'margin-top: 50px;' }
  .row#employees{ :style => 'margin-top: 50px;' }
    .container
      .col-lg-12
        .input-group{ :style => 'margin-top: 20px' }
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              All Departments
              %span.caret
            %ul.dropdown-menu
              %li#filter-all
                %a{:href => '#' } All Departments
              %li#filter-accounting
                %a{:href => '#' } Accounting 
              %li#filter-business-development
                %a{:href => '#' } Business Development 
              %li#filter-culture
                %a{:href => '#' } Culture 
              %li#filter-customer-success
                %a{:href => '#' } Customer Success 
              %li#filter-engineering
                %a{:href => '#' } Engineering 
              %li#filter-human-resources
                %a{:href => '#' } Human Resources 
              %li#filter-information-technology
                %a{:href => '#' } Information Technology 
              %li#filter-legal
                %a{:href => '#' } Legal 
              %li#filter-marketing
                %a{:href => '#' } Marketing 
              %li#filter-on-demand-delivery
                %a{:href => '#' } On-Demand Delivery 
              %li#filter-on-demand-sales
                %a{:href => '#' } On-Demand Sales 
              %li#filter-sales
                %a{:href => '#' } Sales
              %li#filter-sales-engineering
                %a{:href => '#' } Sales Engineering
              %li#filter-sales-marketing-ops
                %a{:href => '#' } Sales/Marketing Ops 
          %input.search.form-control{:placeholder => "Search by name or email.....", :type => "text", ":aria-describedby" =>"sizing-addon3", :style => 'width: 300px'}
        %hr
        .row.text-center
          .list{ :style => 'display: flex; flex-wrap: wrap; flex-grow: 1' }
            - @employees.each do |e|
              .thumbnail{ :style => 'width: 25%' }
                %img{:src => e.avatar.thumb.url }
                .caption
                  %h3.name 
                    = e.name
                  %p.department
                    = e.department
                  %p.email
                    = e.email
                  %p
                    = e.title
                  %p
                    = e.team
                  %p
                    = "Reports to #{e.reports_to}"
                - if user_signed_in?
                  %button.btn.btn-warning
                    = link_to("Edit",edit_admin_employee_url(e.id))
          %ul.pagination{ :style => 'padding-bottom: 50px;' }

:javascript
  var options = { 
    valueNames: [ 'name', 'email', 'department' ],
   };

  var employeeList = new List('employees', options);

  var employeeFilterList = new List('employees', options); 

  $('#filter-all').click(function() {
    employeeFilterList.filter();
    $(".btn:first-child").text('All Departments');
    $(".btn:first-child").val('All Departments');
    return false;
  });

  $('#filter-accounting').click(function() {
    filter(employeeFilterList, 'Accounting');
  });

  $('#filter-customer-success').click(function() {
    filter(employeeFilterList, 'Customer Success');
  });

  $('#filter-engineering').click(function() {
    filter(employeeFilterList, 'Engineering');
  });

  $('#filter-human-resources').click(function() {
    filter(employeeFilterList, 'Human Resources');
  });

  $('#filter-information-technology').click(function() {
    filter(employeeFilterList, 'Information Technology');
  });

  $('#filter-legal').click(function() {
    filter(employeeFilterList, 'Legal');
  });

  $('#filter-marketing').click(function() {
    filter(employeeFilterList, 'Marketing');
  });

  $('#filter-on-demand-delivery').click(function() {
    filter(employeeFilterList, 'On-Demand Delivery');
  });

  $('#filter-on-demand-sales').click(function() {
    filter(employeeFilterList, 'On-Demand Sales');
  });

  $('#filter-sales').click(function() {
    filter(employeeFilterList, 'Sales');
  });

  $('#filter-sales-engineering').click(function() {
    filter(employeeFilterList, 'Sales Engineering');
  });

  $('#filter-sales-marketing-ops').click(function() {
    filter(employeeFilterList, 'Sales/Marketing Ops');
  });

  $('#filter-business-development').click(function() {
    filter(employeeFilterList, 'Business Development');
  });

  $('#filter-culture').click(function() {
    filter(employeeFilterList, 'Culture');
  });

  function filter(employees, department) {
    employees.filter(function(item) {
      if (item.values().department.trim() === department) {
        return true;
      } else {
        return false;
      }
    });
    $(".btn:first-child").text(department);
    $(".btn:first-child").val(department);
    return false;
  }

  employeeFilterList.filter();

