!!!
%html
  %head
    %title BlackduckFlockRails
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          .navbar-brand
            .company-name
              %img.img-responsive{:src => image_url("company_name.png")}
        .collapse.navbar-collapse
          - unless user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li.page-scroll#signin
                = link_to("Admin Sign In", new_user_session_url)
          - if user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li.page-scroll
                = link_to("Sign Out", destroy_user_session_url)
              %li.page-scroll
                = link_to("Admin Dashboard", admin_root_path)
    = yield
    %nav.navbar.navbar-inverse.navbar-fixed-bottom
      .container-fluid
        %p.bottom-nav-text
          Questions or concerns? Please email Daniel Rubio at drubio@blackducksoftware.com
